body { background: #333; font-family: sans-serif }
h1 {font-size: 20px; }
p {color: #fff; font-size: 18px;}
a {color: #DCF962; text-decoration: none; font-size: 18px;}
a:hover {color: #6BC1DD;}
#header {border-bottom: 2px solid #000; margin-bottom: 20px; position: relative;}
#logo{margin: 0px; color: #666; text-shadow: 2px 2px 4px #000; font-size:40px; height:80px;}
#nav {position: absolute; top: 20px;}
.navigation{ float: right;}
ul.navigation{padding: 0px; margin: 0px;}
.navigation li {list-style: none; display: inline-block;}
