<div id="header" class="grid_12">
<div id="logo" class="grid_4">
<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
</div>
<div id="nav" class="grid_8">
<ul class="navigation round">
<li><%= link_to "Home", '#' %></li>
<li><%= link_to "Help", '#' %></li>
<li><%= link_to "Sign in", '#' %></li>
</ul>
</div>
</div>
